$number-of-checkpoint: 2;
$width-of-checkpoint-bar:30%;
$width-of-endbar:40%;
.ProgressBar {
    background-color: $default-secondary-base-color;
    height: 15vh;
    display: grid;
    grid-template-columns: repeat($number-of-checkpoint, $width-of-checkpoint-bar) $width-of-endbar;
    align-items: center;
    .Shipping, .Payment{
        width:auto;
        display: flex;
        align-items: baseline;
        &-bar-container{
            width: 100%;
        }
        &-bar{
            height: 5px;
            width: 100%;
            background-color: lighten($default-secondary-dark-color, 20%);
            border-radius: 3px;
            
            &_isActive{
                background-color: $default-primary-base-color ;
                animation-name: progress;
                animation-duration: 2s;
            }
        }
        &-status{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        &-numb{
            height: 30px;
            width: 30px;
            border-radius: 50%;
            margin: 0 1rem;
            background-color: lighten($default-secondary-dark-color, 20%);
            color:$default-secondary-dark-color;
            text-align: center;
            font-size: 1.6rem;
            font-weight: 600;
            
            &_isActive{
                color:$white;
                background-color: $default-primary-base-color ;
            }

        }
        &-info{
            width: max-content;
            color:$default-secondary-dark-color;
            font-weight: 600;
            position: absolute;
            top: 30px;
            
            &_isActive{
                color:$black;
            }
        }
        &-checklist{
            color: $white;
            font-size: 1.6rem;
            transform: rotateZ(40deg);
        }
    }

    .Endbar{
        width: auto;
        display: flex;
        &-bar{
            height: 5px;
            width: 100%;
            background-color: lighten($default-secondary-dark-color, 20%);
            border-radius: 3px;
            
            &_isActive{
                background-color: $default-primary-base-color ;
            }
        }
    }


}


@keyframes progress {
    0%   {width: 0%;}
    100% {width: 100%;}
  }